@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  overflow: hidden; /*to eliminate scrolling*/
}

/* Hero Section Start */
.hero-section {
  display: flex;
  flex-direction: row-reverse;
}

.hero-img {
  /* max-width: 100%; */
  object-fit: cover;
  height: 100%;
}
/* Hero Section End  */

/* Start Of Content Section  */
.content-section {
  margin: 5% 10%;
}

/* This is for the background to be implemented later */
.content-section::before {
  content: url(images/bg-pattern-desktop.svg);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.hero-title {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  margin-bottom: 0;
}

.hero-description {
  color: var(--Desaturated-Red);
  line-height: 2;
}

#red-title {
  font-weight: 300;
  color: var(--Desaturated-Red);
}

/* Email Section  */
.email-container {
  position: relative;
}

.email-entry {
  width: 70%;
  border-radius: 50px;
  padding: 3%;
  border: 1px solid grey;
}

/* The email arrow container */
.email-container::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url(images/icon-arrow.svg);
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  width: 15%;
  height: 37%;
  padding: 3%;
  border-radius: 50px;
  position: absolute;
  left: 60%;
  top: 0%;
  box-shadow: 0px 3px 5px gray;
}

/* The Attribute Section for Credits */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
