@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  /* to eliminate scrolling */
  overflow-x: hidden;
}

/* Navigation  */
nav img {
  position: absolute;
  top: 10%;
  left: 10%;
}

/* Hero Section Start */
.hero-section {
  display: flex;
  flex-direction: row-reverse;
}

.img-section {
  content: url(images/hero-desktop.jpg);
  max-width: 100%;
}

/* Hero Section End  */

/* Start Of Content Section  */
.content-section {
  margin: 10% 9%;
  width: 50%;
}

/* This is for the background to be implemented later */
.content-section::before {
  content: url(images/bg-pattern-desktop.svg);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.hero-title {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  margin-bottom: 0;
}

.hero-description {
  color: var(--Desaturated-Red);
  line-height: 2;
  width: 77%;
  margin-bottom: 8%;
}

#red-title {
  font-weight: 300;
  color: var(--Desaturated-Red);
}

/* Email Section  */
.email-container {
  position: relative;
}

.arrow-btn {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: 0;
  padding: 2.5% 7%;
  box-shadow: 0px 3px 5px gray;
  border-radius: 50px;
  position: absolute;
  top: -1px;
  right: 20%;
}

.arrow-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 8px 8px 20px 3px hsl(0, 26%, 76%);
}

/* The Attribute Section for Credits */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Input Type Start */

input[type="email"] {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  border: 1px solid #333;
  margin: 0;
  border-radius: 50px;
  padding: 3%;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
#errorImg {
  content: "";
  background: url(images/icon-error.svg) no-repeat;
  position: absolute;
  z-index: 2;
  top: 0.7rem;
  height: 100%;
  width: 100%;
  left: 17rem;
  visibility: hidden;
}

.error {
  width: 70%;
  padding: 0;
  font-size: 80%;
  color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  display: inline-block;
}

.error.active {
  padding: 0.3em;
}

/* Input type End */

/* Media Query for Tab Devices  */

@media (max-width: 1020px) and (min-width: 610px) {
  body {
    overflow: hidden;
  }

  .hero-section {
    flex-direction: column;
  }

  nav img {
    position: relative;
    margin: 7% 0;
  }

  .content-section {
    align-self: center;
  }

  .img-section {
    content: url(images/hero-mobile.jpg);
    max-width: 100%;
  }

  .hero-title {
    font-size: 3.5rem;
    text-align: center;
  }

  .hero-description {
    color: var(--Desaturated-Red);
    line-height: 2;
    width: 100%;
    margin-bottom: 8%;
    text-align: center;
  }

  .content-section::before {
    content: url(images/bg-pattern-desktop.svg);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 40%;
    left: 0%;
    z-index: -1;
  }

  #errorImg {
    content: "";
    position: absolute;
    top: 0.5rem;
    height: 100%;
    width: 100%;
    left: 16rem;
  }
  .email-container {
    text-align: center;
  }

  .arrow-btn {
    right: 10%;
  }
}

/* Media Queries For Mobile Device */

@media (max-width: 610px) {
  body {
    overflow: hidden;
  }

  .hero-section {
    flex-direction: column;
  }

  .img-section {
    content: url(images/hero-mobile.jpg);
    max-width: 100%;
  }

  nav img {
    position: relative;
    margin: 7% 0;
  }

  .hero-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .hero-img {
    clip-path: inset(0 0 10rem 0);
  }

  .hero-description {
    text-align: center;
    width: 100%;
  }

  .content-section {
    width: 80%;
    margin: 10%;
  }

  .content-section::before {
    content: url(images/bg-pattern-desktop.svg);
    position: absolute;
    height: 100%;
    width: 100%;
    top: -12%;
    left: 0%;
    z-index: -1;
  }

  .email-entry {
    width: 75%;
  }

  .email-container {
    text-align: center;
  }

  .arrow-btn {
    padding: 2.5% 8%;
    right: 10%;
  }

  #errorImg {
    content: "";
    position: absolute;
    top: 0.3rem;
    height: 100%;
    width: 100%;
    left: 10.5rem;
  }
} ;
